:root{
    --main-color:#f1f512
}
*{
    box-sizing: border-box;
}

.setting-box{
    width: 200px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: white;
    z-index: 1000;
    transition: -3s;
    border: 1px solid #eee;
}
.setting-box .toggle-setting {
    position: absolute;
    top: 100px;
    right: -30px;
    background-color: white;
    padding: 8px 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.setting-box .toggle-setting .fa-gear{
    padding: 8px 0;
    width: 30px;
   
}

.setting-box.open{
    left: 0;
}
.setting-box .option-box{
    text-align: center;
    padding: 10PX;
    background-color: #eee;
    margin: 10px;
}

.setting-box .option-box h4{
    margin: 0;
    color: #666;
}
.setting-box .option-box .colors-list{
    list-style: none;
    text-align: center;
    padding: 0;
}

.setting-box .option-box .colors-list li{
    cursor: pointer;
    width: 26px;
    border: 3px solid #EEE;
    display: inline-block;
    height: 26px;
    background-color: #333;
    border-radius: 50%;
}
.setting-box .option-box .colors-list li.active{
  border-color: #FFF;
}
.setting-box .option-box .colors-list li:first-child{
    background-color: #f1f512;
}
.setting-box .option-box .colors-list li:nth-child(2){
    background-color: #e91e63;
}
.setting-box .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.setting-box .option-box .colors-list li:nth-child(4){
    background-color: #03a904;
}
.setting-box .option-box .colors-list li:nth-child(5){
    background-color: #acaf50;
}

.setting-box .option-box .yes,
.setting-box .option-box .no{
    width: 50px;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    height: 50px;
    opacity: .5;
    font-weight: bold;
    display: inline-block;
    color: var(--main-color);
    cursor: pointer;
    background-color: rgb(240, 62, 17);
}
.setting-box .random-background  span.active{
    opacity: 1;
}
.setting-box .reset-option{
    width: 178px;
    padding: 10px;
    border: none;
    background-color: #f44336;
    margin: 10px auto;
    display: block;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

/* start nav bullets */
.nav-bullets{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
}

/* end nav bullets */
.nav-bullets .bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin: 10px auto
}
.nav-bullets .bullet:hover .toolTip{
    display: block;
}
 .nav-bullets .bullet .toolTip{
    background-color: var(--main-color);
    color: white;
    width: 60px;
    position: absolute;
    right: 40px;
    cursor: default;
    pointer-events: none;
    top: -6px;
    display: none;
}
.nav-bullets .bullet .toolTip:before{
    content: '';
    border-style: solid;
    width: 0;
    height: 0;
    top: 20px;
    position: absolute;
    transform: translateY(-105%);
    right: -20px;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
}
.landing-page{
    min-height: 100vh;
    background-image: url('../images/03.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .overLay{
    background-color: #00000061;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.landing-page .container{
    position: relative;
    z-index: 1000;
}
.header-area{
    color: white;
    position:  relative;
    z-index: 2;
    display: flex;

}
.header-area .logo{
    width: 300px;
    padding: 15px;
}
.header-area .link-container{
    width: 100%;  
    text-align: right;
}
.header-area .link{
    list-style: none;
   /* width: 100%; */ /*منحط 100 فوق بدل هون منشان منظر اللينكات بالفون*/
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
}
.header-area .menu{
    background: none;
    border: none;
    width: 30px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
    position: relative;
        /*بظهرا بس بدي*/
}
.header-area .menu.menu-active::before{ /*حط السهم غالمينو*/
        content: "";
        border-color: transparent transparent white transparent;
        border-width: 7px;
        border-style: solid;
        position: absolute;
        top: 16px;
        left: 8px;
    }
.header-area .menu:focus{
    outline: none; /*الخط الخارجي حول المي*/
}
.header-area .menu span{
    display: block;
    /* width: 100%; */
    background-color: #fff;
    height: 3px;
    margin-bottom: 3px;
}
@media(max-width:991px){
    .header-area .link { /*بخفي اللينكات وبظهر المينو*/
        display: none;
    }
    .header-area .menu {
        display: inline-block;
    }
    .header-area .link.open { /*بس اكبس عليه بصير اوبن ويبظهر اللينكات*/
       background-color:#fff;
       width: 100%;
       display: block;/*يعرضا*/
       padding: 10px;
       position: absolute;
       top: 34px;
       left: 6px;
       text-align: left;
        border-radius: 4px;
    }  
    .header-area .link.open li{ /*اذا حبيت اعرضن فوق بعض*/
        display: block;
        margin: 10px;
    }
    .header-area .link.open li a{
        color: var(--main-color);
        font-weight: bold;
    }
}
.header-area .link li{
  display: inline-block;
  margin-left: 10px;
}
.header-area .link li a{
    color: white;
    text-decoration: none;
    transition: .3s;
}
.header-area .link li a:hover,.header-area .link li a.active{
    color:var(--main-color); 
}

.introduction-text{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 95%;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
}
.introduction-text h1{
    font-size: 36px;
    margin: 0 0 12px;
}
@media (max-width: 575px) {
    .introduction-text h1{
        font-size: 26px;
        margin: 0 0 12px;
    }
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p{
    font-size: 20px;
    margin: 0;
}


.container{
    /*width: 1170px;*/
    padding-left: 75px;
    padding-right: 15px;
    margin: auto;
}
/* start about us */
.about-us{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.about-us .info-box{
    flex: 1;
}
@media (max-width: 767px) {
    .about-us{
        display: block;
        text-align: center;
    }
    .about-us .info-box{
        padding: 0;
    }
}

.about-us .info-box h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
}
.about-us .info-box p{
line-height: 1.5;
color: cadetblue;
margin: 0;
}
.about-us .img-box{
flex: 1;
text-align: center;
}

.about-us .img-box img{
width: 250px;
}
/* end about us */

/* start skills*/
.Skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
 .Skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px; 
    text-align: center;
}
.Skills .skill-box{
    background-color: #FFF;
    display: flex;
    padding: 15px;
    margin-bottom: 15px ;
}
@media (max-width: 767px) {
    .Skills .skill-box{
        display: block;
    }
}
.Skills .skill-box .skill-name{
    font-weight: bold;
    width: 130px;
    text-align: center;
}
@media (max-width: 767px) {
    .Skills .skill-box .skill-name{
        width: 100%;
        margin-bottom: 15px;
    }
}
.Skills .skill-box .skill-progress{
    width: 100%;
    height: 30px;
    background-color: #F6F6F6    ;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.Skills .skill-box .skill-progress span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    transition: all .5s;
}
/* End skills*/

/* start Gallery*/
.gallery{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.gallery h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px; 
    text-align: center;
}
.gallery .imgs-box{
  text-align: center;  
}
.gallery .imgs-box img{
   width: 200px; 
   height: 120px;
   background-color: #F6F6F6;
   padding: 3px;
   border: 1px solid #ccc;
   cursor: pointer;
   margin: 5px;
}
/*popup تنسيق ديف*/
.popup-overlay{
    position: fixed; /* يضل عايم*/
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.popup-box{
    position: fixed; /*كيف ماتحركت بيتحرك*/
    top: 50%;
    left: 50%;
    background-color: #FFF;
    border: 1px solid #ccc;
    z-index: 100000;
    padding: 20px;
    transform: translate(-50%,-50%);/*يتوسط الشاشة*/

}
/* بعد الجافا تنسيق العناصر المضافة فيه*/
.popup-box h3{
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px;
    color: var(--main-color );
}
/*تنسيق اشارة x*/
.close-button{
    position: absolute;
    top: -15px;
    text-align: center;
    right: -15px;
    line-height: 40px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
    color: silver;
    border-radius: 50%;   /*دائرة*/
    /*font-family: arial;*/
}
.popup-box img{
    max-width: 100%;
}
/* end gallery*/

/* start timeline*/
.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE; 
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;

}
.timeline .timeline-content:before{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    background-color: var(--main-color);
    top: 0;
}
.timeline .timeline-content .year{
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    color: white;
    width: 50px;
    margin: 20px auto;   /*نص 2018 بالنص*/
    background-color: var(--main-color);
}
.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);  /*بيضل قيه مساحة بينو وبين الخط 25 بكسل*/
    margin-bottom: 50px; /* بيطلع عن تحت 50 بكسل*/
    position: relative; /*مههههههمة*/
}
@media (max-width: 767px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline .timeline-content .left:before,
    .timeline .timeline-content .right:before {
        display: none;
    }
    .timeline .timeline-content .left .content:before,
    .timeline .timeline-content .right .content:before{
        display: none;
    }

}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .left:before{
    content: '';
    width: 15px;
    position: absolute;
    height: 15px;
    border-radius: 50%;
    right: -35px;/*من الcalc ومناخد نصف قطر */
    top: 20px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
}
.timeline .timeline-content .right{
    float: right;
    /*padding: 21px;*/
}
.timeline .timeline-content .right:before{
    content: '';
    width: 15px;
    position: absolute;
    height: 15px;
    border-radius: 50%;
    left: -35px;
    top: 20px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
}


.timeline .timeline-content .content{
    padding: 20px;
    background-color: white;
}
.timeline .timeline-content .content h3{
    color: var(--main-color);
    font-weight: bold;
    margin: 0 0 10px
}
.timeline .timeline-content .content p{
    line-height: 1.6;
    color: #666;
}
.timeline .timeline-content .left:before{
    content: '';
    width: 15px;
    position: absolute;
    height: 15px;
    border-radius: 50%;
    right: -35px;
    top: 20px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
}
.clearfix{
    clear: both;
    /*مابيطلغ  شي قدام المستطيب\ل اليساري*/
}

.timeline .timeline-content .left .content:before{
    content: '';
    border-style: solid;
    width: 0;
    height: 0;
    top: 20px;
    position: absolute;
    right: -20px;
    border-width: 10px;
    border-color: transparent transparent transparent #FFF;/*بيقسم المربع بلون فوق يسار اسفل يمين*/
}
.timeline .timeline-content .right .content:before{
    content: '';
    border-style: solid;
    width: 0;
    height: 0;
    top: 20px;
    position: absolute;
    left: -20px;
    border-width: 10px;
    border-color: transparent #FFF transparent transparent;
}
/* end timeline*/

/* start features */
.features{
padding-top: 80px;
padding-bottom: 80px;
height: 900px;
}
.features h2{
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px;
    color: var(--main-color );
    font-size: 30px;
}
.features .feat-box{
    width: calc(100%/3);
    float: left;
    text-align: center;
    margin-bottom: 40px;  /*مسافة بين الصصور */
}
@media (max-width: 991px) {
    .features .feat-box {
        width: calc(100%/2);
        }
    }

@media (max-width: 575px) {
    .features .feat-box {
        width: 100%;
    }
}
.features .feat-box img{
    width: 96px;
}
.features .feat-box h3{
    margin: 15px 0 50px;
    font-size: 22px;
    position: relative;
}
.features .feat-box h3:before{
    width: 39px;
    content: '';
    position: absolute;
    height: 5px;
    background-color: var(--main-color);
    bottom: -22px;
    left: 44%;
    margin-left: 0;
}

.features .feat-box p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #666;
} 

/* end features */

/* start Testimonial */
.testimonial{
    /*position: relative;*/
    min-height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
    /*overflow: hidden;*/
}
/*.testimonial:before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 50%;*/
/*    background-color: var(--main-color);*/
/*    height: 100%;*/
/*}*/
/*.testimonial:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    right:  0;*/
/*    top: 0;*/
/*    width: 50%;*/
/*    background-color:black;*/
/*    height: 100%;*/

/*}*/
.testimonial h2{
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px;
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px) {
    .testimonial h2 {
        text-align: center;
    }
}
.testimonial .all-box{
    display: flex;
}
.testimonial .ts-box{
    position: relative;
    z-index: 2;
    /*width: calc(98%/3);*/
    /*float: left;*/
    background-color: white;
    /*font-size: 22px;*/
    padding: 20px
}

@media (max-width: 991px) {
    .testimonial .all-box {
        flex-direction: column;
    }
    .testimonial .ts-box:before{
        width: 39px;
        content: '';
        position: absolute;
        height: 5px;
        background-color: var(--main-color);
        bottom: -22px;
        left: 44%;
        margin-left: 0;
    }

}

.testimonial .ts-box:not(:last-of-type){
    margin-right: 1%;
}
.testimonial .ts-box > p{
line-height: 1.6;
}
.testimonial .ts-box .person-info{
overflow: hidden;
}
@media (max-width: 991px) {
    .testimonial .ts-box .person-info{
        text-align: center;
        overflow: visible;
    }
}
.testimonial .ts-box .person-info p{
margin: 0;
    font-weight: bold;
}
.testimonial .ts-box .person-info img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 100%;
    max-width: 114px;
}
@media (max-width: 991px) {
    .testimonial .ts-box .person-info img{
        float: none;
        margin-right: 0;
    }
}
.testimonial .ts-box .person-info h4{
margin: 10px 0 5px;
    font-weight: bold;
}

/* end Testimonial */

/* start Contact us */
.contact {
    min-height: 600px;
    background-image: url("../images/12.jpg");
    background-size: cover;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .79);
}
.contact .container{
    position: relative;
    z-index: 2;
}
.contact .container h2{
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px;
    color: var(--main-color);
    font-size: 30px;
    position: relative;
}
.contact  form{
    overflow: hidden;   /* منشان اغمل ليفت ورايت*/
    max-width: 800px;
    margin: auto;  
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
        width: 100%;
        float: none;
    }
}
.contact  form input:not([type=submit]),
.contact  form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact  form input:not([type=submit]):focus,
.contact  form textarea:focus{
    outline: 1px solid var(--main-color);
}

.contact  form textarea{
    height: 155px;
}
.contact  form input[type=submit]{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border-color: transparent;
}
.contact  form textarea:focus::-webkit-input-placeholder,
.contact  form input:not([type=submit]):focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}
.contact  form textarea:focus::-ms-input-placeholder,
.contact  form input:not([type=submit]):focus::-ms-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact  form textarea:focus::placeholder,
.contact  form input:not([type=submit]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}

/* end Contact us */

@media (min-width:576px){ /*small device ,phone landscape*/
    .container{
        max-width: 540px;
    }
}
@media (min-width:768px){ /*medium device ,tablets*/
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){ /* ,desktop*/
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px){ /*large screen*/
    .container{
        max-width: 1140px;
    }
}
/* end تنظيم الشاشة */

/*start footer */
.footer{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #EEE;
}

/*end footer */










